<style>
  .navbar-brand {
    color: #f4f4f4;
  }

  .navbar-brand:hover {
    color: cornflowerblue;
  }

  .nav-link {
    color: #f4f4f4;
  }

  .nav-link:hover {
    color: cornflowerblue;
  }
</style>

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('views.home')}}">GPYou</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    {% if not session.username %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{{url_for('auth.login')}}"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
        </li>
      </ul>
    </div>
    {% elif session['username'] == 'admin' %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.admin')}}">Admin</a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
        </li>
      </ul>
    </div>
    {% endif %}
      </ul>
  </div>
</nav>
