{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" name="username" value="{{user[1]}}">
                </div>
                <div class="form-group">
                    <input type="text" name="password" value="{{user.password}}" placeholder="Set new password">
                </div>
                <div class="form-group">
                    <input type="text" name="role" value="{{user[3]}}">
                </div>
                <button class="btn btn-primary btn-block"> 
                    Update
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}